* {
    color: #ffffff;
}


.AboutContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftAbout {
    width: 45%;
}

.rightAbout {
    width: 46%;
}

.aboutImg {
    width: 100%;
    height: 22em;
}

.aboutTitle {
    margin-bottom: 26px;
    font-weight: 700;
    font-size: 45px;
    line-height: 126.9%;
}

.aboutDesc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.desc1 {
    margin-bottom: 18px;
}

.leftAboutContainer {
    padding: 3em 0em 3em 10em;
}

.sm {
    font-size: 38px;
    font-weight: 600;
}

.rightAboutContainer {
    flex-direction: row-reverse;
    padding: 4em 10em 3em 0em;
}

.plainbg {
    background: linear-gradient(0deg, #132540 0%, #111027 100%);
    margin-top: 2em;
}

.aboutDisciples {
    margin-top: 2em;
}

.sectionHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0em 5em;
}

.sectionTitle {
    font-weight: 600;
    font-size: 38px;
    line-height: 100%;
}

.whiteLine {
    width: 38%;
    height: 8px;
    border-radius: 20px;
    background: #ffffff;
}

.DiscipleContainer {
    padding: 3em 16em;
    display: flex;
    flex-direction: column;
}

.leftdis {
    flex-direction: row-reverse;
    margin-top: 4em;
    margin-left: auto;
}

.leftdistxt {
    padding-left: 0em;
    padding-right: 2em;
}

.disciple {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 16px;
}

.tags {
    margin-bottom: 10px;
    width: 9.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.rightDisciple {
    width: 37%;
    height: 14.8em;
}

.discipleImg {
    width: 100%;
    height: 14.8em;
    border-radius: 0px 16px 16px 0px;
}

.discipleIamg {
    border-radius: 16px 0px 0px 16px;
}

.tag {
    font-size: 14px;
    border-radius: 6px;
    background-color: #111027;
    padding: 4px 8px;
}

.smalldesc {
    font-weight: 500;
    font-size: 14px;
    line-height: 126.9%;
    color: #50668F;
}

.name {
    font-weight: 600;
    font-size: 32px;
    line-height: 114.9%;
}

.name {
    margin-bottom: 25px;
}

.name,
.smalldesc {
    color: #111027;
}


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< MEDIA QUERIES >>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/*#################### MEDIA (567px - Screen) #################*/
@media (min-width:1201px) and (max-width:1400px) {
    .rightAbout {
        width: 50%;
    }

    .DiscipleContainer {
        padding: 3em 10em;
    }

    .name {
        font-size: 28px;
    }

    .leftDisciple {
        padding-left: 1em;
    }

    .whiteLine {
        width: 35%;
    }

    .sectionTitle {
        font-size: 36px;
    }
}


/*#################### MEDIA (567px - Screen) #################*/
@media (min-width:993px) and (max-width:1200px) {
    .rightAbout {
        width: 51%;
    }

    .DiscipleContainer {
        padding: 3em 5em;
    }

    .name {
        font-size: 28px;
    }

    .leftDisciple {
        padding-left: 1em;
    }

    .whiteLine {
        width: 33%;
    }

    .sectionHeading {
        padding: 0em 4em;
    }

    .sectionTitle {
        font-size: 36px;
    }

    .leftAboutContainer {
        padding: 3em 0em 3em 4em;
    }

    .rightAboutContainer {
        padding: 4em 4em 3em 0em;
    }

    .aboutTitle {
        font-size: 40px;
    }
}


/*#################### MEDIA (567px - Screen) #################*/
@media (min-width:768px) and (max-width:992px) {

    .rightAbout,
    .leftAbout {
        width: 100%;
    }

    .DiscipleContainer {
        padding: 3em 3em;
    }

    .disciple {
        width: 75%;
    }

    .name {
        font-size: 28px;
    }

    .leftDisciple {
        padding-left: 1em;
    }

    .whiteLine {
        width: 31%;
    }

    .sectionHeading {
        padding: 0em 3em;
    }

    .sectionTitle {
        font-size: 30px;
    }

    .aboutDesc {
        font-size: 16px;
        font-weight: 300;
    }

    .desc1 {
        margin-bottom: 12px;
    }

    .leftAboutContainer {
        padding: 2em 3em;
        flex-direction: column-reverse;
    }

    .rightAboutContainer {
        padding: 2em 3em;
        flex-direction: column-reverse;
    }

    .aboutTitle {
        font-size: 40px;
        margin: 35px 0px;
    }
}


/*#################### MEDIA (567px - Screen) #################*/
@media (min-width:568px) and (max-width:767px) {

    .rightAbout,
    .leftAbout {
        width: 100%;
    }

    .DiscipleContainer {
        padding: 3em 1em;
    }

    .disciple {
        width: 94%;
    }

    .name {
        font-size: 28px;
    }

    .leftDisciple {
        padding-left: 1em;
    }

    .whiteLine {
        width: 27%;
    }

    .sectionHeading {
        padding: 0em 1em;
    }

    .sectionTitle {
        font-size: 28px;
    }

    .aboutDesc {
        font-size: 14px;
        font-weight: 300;
    }

    .desc1 {
        margin-bottom: 10px;
    }

    .leftAboutContainer {
        padding: 32px 28px;
        flex-direction: column-reverse;
    }

    .rightAboutContainer {
        padding: 32px 28px;
        flex-direction: column-reverse;
    }

    .aboutTitle {
        font-size: 40px;
        margin: 12px 0px 30px;
    }
}


/*#################### MEDIA (567px - Screen) #################*/
@media screen and (max-width:567px) {

    .rightAbout,
    .leftAbout {
        width: 100%;
    }

    .DiscipleContainer {
        padding: 3em 1em;
    }

    .disciple {
        width: 100%;
    }

    .name {
        font-size: 22px;
    }

    .tag {
        font-size: 12px;
    }

    .leftDisciple {
        padding-left: 1em;
        padding-right: 1em;
    }

    .tags {
        width: 8.2em;
    }


    .whiteLine {
        width: 25%;
    }

    .sectionHeading {
        padding: 0px 16px;
    }

    .sectionTitle {
        font-size: 25px;
    }

    .aboutDesc {
        font-size: 14px;
        font-weight: 300;
    }

    .desc1 {
        margin-bottom: 10px;
    }

    .leftAboutContainer {
        padding: 18px 16px;
        flex-direction: column-reverse;
    }

    .rightAboutContainer {
        padding: 18px 16px;
        flex-direction: column-reverse;
    }

    .aboutTitle {
        font-size: 36px;
        margin: 12px 0px 30px;
    }

    .aboutImg {
        height: 16em;
    }

    .rightDisciple {
        width: 48%;
    }

    .plainbg {
        margin-top: 0em;
    }
}