* {
    color: #ffffff;
}

.servicesHeader {
    padding: 2em 10em;
    text-align: center;
}

.service {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spacebtw {
    margin: 3em 0em;
}

.pageTitle {
    font-weight: 600;
    font-size: 40px;
    line-height: 68px;
    letter-spacing: 0.08em;
}

.pageTitleDesc {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}

.serviceTitle {
    font-weight: 500;
    font-size: 30px;
    line-height: 126.9%;
}

.serviceDesc {
    font-size: 16px;
    line-height: 26px;
    margin-top: 18px;
}

.servicesCollection {
    padding-top: 4em;
}

.leftService {
    padding: 3em 0em 3em 10em;
    background: rgba(13, 36, 57, 0.45);
}

.rightService {
    flex-direction: row-reverse;
    padding: 3em 10em 3em 0em;
}

.firstPartService {
    width: 45%;
}

.secondPartService {
    width: 46%;
}

.desc2 {
    margin-top: 10px;
}

.serviceImg {
    width: 100%;
    height: 24em;
}

.rightServImg {
    border-radius: 50px 0px 0px 390px;
}

.leftServImg {
    border-radius: 0px 390px 50px 0px;
}

.showMob {
    display: none;
}

.plainbg {
    background: linear-gradient(0deg, #132540 0%, #111027 100%);
    margin-top: 2em;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< MEDIA QUERIES >>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/*#################### MEDIA (567px - Screen) #################*/
@media (min-width:1201px) and (max-width:1400px) {
    .leftService {
        padding: 3em 0em 3em 6em;
    }

    .rightService {
        padding: 3em 6em 3em 0em;
    }
}


/*#################### MEDIA (567px - Screen) #################*/
@media (min-width:993px) and (max-width:1200px) {
    .leftService {
        padding: 3em 0em 3em 4em;
    }

    .secondPartService {
        width: 51%;
    }

    .rightService {
        padding: 3em 4em 3em 0em;
    }

    .servicesHeader {
        padding: 2em 4em;
    }

    .leftServImg {
        border-radius: 0px 210px 50px 0px;
    }

    .rightServImg {
        border-radius: 50px 0px 0px 210px;
    }

    .serviceImg {
        width: 100%;
        height: 26em;
    }
}


/*#################### MEDIA (567px - Screen) #################*/
@media (min-width:768px) and (max-width:992px) {
    .leftService {
        flex-direction: column-reverse;
        padding: 2em 0em 4em;
    }

    .secondPartService,
    .firstPartService {
        width: 100%;
    }

    .serviceDesc {
        padding: 0em 3em;
    }

    .rightService {
        flex-direction: column-reverse;
        padding: 2em 0em 4em;
    }

    .servicesHeader {
        padding: 2em 3em;
    }

    .serviceTitle {
        font-size: 40px;
    }

    .rightServImg,
    .leftServImg {
        border-radius: 0px;
    }

    .hiddenMob {
        display: none;
    }

    .showMob {
        display: block;
        text-align: center;
        padding-bottom: 30px;
    }

    .serviceImg {
        width: 100%;
        height: 20em;
        object-fit: cover;
    }
}


/*#################### MEDIA (567px - Screen) #################*/
@media (min-width:568px) and (max-width:767px) {
    .leftService {
        flex-direction: column-reverse;
        padding: 2em 0em 4em;
    }

    .secondPartService,
    .firstPartService {
        width: 100%;
    }

    .serviceDesc {
        padding: 0px 20px;
        font-size: 15px;
    }

    .rightService {
        flex-direction: column-reverse;
        padding: 2em 0em 4em;
    }

    .servicesHeader {
        padding: 2em 20px;
    }

    .pageTitleDesc {
        font-size: 14px;
        line-height: 20px;
    }

    .serviceTitle {
        font-size: 40px;
    }

    .rightServImg,
    .leftServImg {
        border-radius: 0px;
    }

    .hiddenMob {
        display: none;
    }

    .showMob {
        display: block;
        text-align: center;
        padding-bottom: 30px;
    }

    .spacebtw {
        margin: 1em 0em;
    }

    .serviceImg {
        width: 100%;
        height: 20em;
        object-fit: cover;
    }
}


/*#################### MEDIA (567px - Screen) #################*/
@media screen and (max-width:567px) {
    .leftService {
        flex-direction: column-reverse;
        padding: 2em 0em 4em;
    }

    .secondPartService,
    .firstPartService {
        width: 100%;
    }

    .serviceDesc {
        padding: 0px 16px;
        font-size: 15px;
    }

    .rightService {
        flex-direction: column-reverse;
        padding: 2em 0em 4em;
    }

    .servicesHeader {
        padding: 2em 16px;
    }

    .pageTitleDesc {
        font-size: 14px;
        line-height: 20px;
    }

    .serviceTitle {
        font-size: 40px;
    }

    .servicesCollection {
        padding-top: 2em;
    }

    .rightServImg,
    .leftServImg {
        border-radius: 0px;
    }

    .hiddenMob {
        display: none;
    }

    .showMob {
        display: block;
        text-align: center;
        padding-bottom: 30px;
    }

    .spacebtw {
        margin: 1em 0em;
    }

    .serviceImg {
        width: 100%;
        height: 20em;
        object-fit: cover;
    }
}