/* /////////////////H E A D E R  S T Y L I N G///////////////// */

header,
.rightlinks,
.navlinks,
.contactBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerPadding {
    padding: 2em 10em;
}

.astrodharalogo {
    width: 100%;
}

.rightlinks {
    justify-content: flex-end;
    width: 55%;
}

.items {
    width: 70%;
}

.navlinks {
    list-style: none;
    padding-left: 0;
}

.leftlinks {
    width: 14%;
}

.navitems {
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 2px;
}

.navitems:hover {
    color: #dfdfdf;
}

.btn {
    margin-left: 2.5em;
    width: 9em;
}

.contactBtn {
    padding: 5px 15px;
    background-color: #FF5C00;
    border-radius: 8px;
    cursor: pointer;
}

.contactBtn p {
    margin-left: 5px;
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

/* hamburger menu */
.hamburger {
    position: relative;
    display: none;
    border: none;
    appearance: none;
    outline: none;
    width: 40px;
    cursor: pointer;
    background: none;
    z-index: 9999;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    display: block;
    border-radius: 5px;
    content: "";
    width: 100%;
    height: 5px;
    margin: 6px 0px;
    background-color: #ffffff;
    transition: 0.5s;
}

.hamburger.is-active:after {
    transform: rotate(-46deg) translate(4px, -4px);
}

.hamburger.is-active .bar {
    display: none;
}

.hamburger.is-active:before {
    transform: rotate(46deg) translate(4px, 4px);
}

.mobileNav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background: #111027;
    width: 100%;
    padding-top: 10em;
    transition: 0.5ms;
}

.mobileNav.is-active {
    display: block;
    z-index: 9999;
}

.Mobnavlinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 40%;
    width: 100%;
    padding: 0px;
    list-style: none;
}

.fsize {
    font-size: 20px;
}

.btnmar {
    width: 9em;
    margin: 35px auto;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< MEDIA QUERIES >>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/*#################### MEDIA (567px - Screen) #################*/
@media screen and (max-width:567px) {

    /*<<<<<<<<<<<<<< HERO SECTION WRAPPER >>>>>>>>>>>>>>>*/
    .heroSectionWrapper {
        padding: 20px 16px;
        background-size: 95em 100%;
        height: 100%;
    }

    .astrodharalogo {
        width: 8em;
    }

    .leftlinks {
        width: 9em;
    }

    .rightlinks {
        display: none;
    }

    .hamburger {
        display: block;
        width: 38px;
    }

    .hamburger .bar,
    .hamburger:after,
    .hamburger:before {
        height: 4px;
    }
}