/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< HERO SECTION WRAPPER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.heroSectionWrapper {
    background-size: 100% 100%;
    height: 100vh;
    padding: 2em 10em;
}

.stars-hero {
    background: transparent url('/assets/Landing-Page_Assets/Hero-Section/stars_bg.png')repeat top center;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -200;
}

.star-twinkling {
    background: transparent url("/assets/Landing-Page_Assets/Hero-Section/bg-twinkle.png") top center;
    background-size: contain;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -100;
    -webkit-animation: move-twink 500s linear infinite;
    animation: move-twink 500s linear infinite;
}

@-webkit-keyframes move-twink {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -10000px 0;
    }
}

@keyframes move-twink {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -10000px 0;
    }
}

/* header,
.rightlinks,
.navlinks,
.contactBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.astrodharalogo {
    width: 100%;
}

.rightlinks {
    justify-content: flex-end;
    width: 55%;
}

.items {
    width: 70%;
}

.navlinks {
    list-style: none;
    padding-left: 0;
}

.leftlinks {
    width: 14%;
}

.navitems {
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 2px;
}

.navitems:hover {
    color: #dfdfdf;
}

.btn {
    margin-left: 2.5em;
    width: 9em;
}

.contactBtn {
    padding: 5px 15px;
    background-color: #FF5C00;
    border-radius: 8px;
    cursor: pointer;
}

.contactBtn p {
    margin-left: 5px;
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
} */

.heroSection {
    display: flex;
    justify-content: space-between;
    padding: 4em 0em;
}

.leftText_Content {
    width: 48%;
    padding-top: 2em;
}

.pageTaglineHindi {
    font-weight: 700;
    font-size: 45px;
    line-height: 72px;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.pageTaglineEnglish {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #FEFEFE;
    margin-bottom: 40px;
}

.pageTaglineEnglish span {
    color: #FF5C00;
}

.connectbtn,
.Explorebtn {
    border-radius: 6px;
    width: 10em;
    height: 2.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.connectbtn {
    background-color: #3477F5;
    width: 11em;
}

.connect {
    color: #ffffff;
}

.connect,
.Explore {
    font-size: 16px;
    font-weight: 500;
}

.Explorebtn {
    background-color: #ffffff;
}

.Explore {
    color: #3477F5;
}

.headerBtns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 22em;
}

.rightImage_Content img {
    width: 100%;
    height: 30em;
}

/* 
.mobileMenu {
    background-color: #111027;
    position: relative;
} */

/* .hamburger {
    position: relative;
    display: none;
    border: none;
    appearance: none;
    outline: none;
    width: 40px;
    cursor: pointer;
    background: none;
    z-index: 9999;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    display: block;
    border-radius: 5px;
    content: "";
    width: 100%;
    height: 5px;
    margin: 6px 0px;
    background-color: #ffffff;
    transition: 0.5s;
}

.hamburger.is-active:after {
    transform: rotate(-46deg) translate(4px, -4px);
}

.hamburger.is-active .bar {
    display: none;
}

.hamburger.is-active:before {
    transform: rotate(46deg) translate(4px, 4px);
}

.mobileNav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background: #111027;
    width: 100%;
    padding-top: 10em;
    transition: 0.5ms;
}

.mobileNav.is-active {
    display: block;
    z-index: 9999;
}

.Mobnavlinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 40%;
    width: 100%;
    padding: 0px;
    list-style: none;
}

.fsize {
    font-size: 20px;
}

.btnmar {
    width: 9em;
    margin: 35px auto;
} */

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< IMAGE SLIDER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.SlideImage {
    width: 100%;
    height: 45em;
    position: absolute;
}

.ImageActive {
    z-index: 99;
}

.carousel_images {
    position: relative;
}

.overflowdesc {
    overflow: hidden;
    width: 36em;
    border-radius: 10px;
}


.circles:hover {
    background-color: #ffffff;
}

.circle_active {
    background-color: #ffffff !important;
}

.circles {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #6e6e6e;
    cursor: pointer;
    transition: 200ms;
}

.desc_indicatorWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 10em;
    position: absolute;
    width: 100%;
    bottom: 70px;
    z-index: 999;
}

.Image_DescWrapper {
    position: relative;
    height: 45em;
}

.indicatorBtns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10%;
}

.desc {
    padding: 10px 16px;
    background: #ffffff;
}

.imageDesc {
    width: 49%;
    position: relative;
    width: 180em;
    display: flex;
    transition: 400ms;
}

.Desctitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 38px;
    color: #111027;
}

.textDesc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #3A3942;
}


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< ZODIAC SIGN >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.zodiacSection_Wrapper {
    padding: 1em 6em;
    background: linear-gradient(180deg, #0A0A0A 0%, #132540 179.99%);
}

.zodiacSign {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 7px solid #111027;
}

.zodiacSection_title {
    font-weight: 500;
    font-size: 35px;
    line-height: 75px;
    letter-spacing: 0.12em;
    color: #FFFFFF;
}

.zodiacSection_Desc {
    font-weight: 300;
    width: 72em;
    margin: auto;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

.zodiacSection_text {
    text-align: center;
    margin-bottom: 15px;
}

.zodiac {
    background-color: #ffffff;
    margin: auto;
    align-items: center;
    display: flex;
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
}

.zodiacSign_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 25px;
    padding: 1em 10em;
}

.zodiacSign_details-Section {
    background-color: #111027;
    padding: 3em 0em 0em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.leftZodiac {
    background: url('/assets/Landing-Page_Assets/Zodiac-Sign_Details/Zodiac-SignShown_background.jpg');
    background-size: 100% 100%;
    width: 43%;
    padding-left: 6em;
    position: relative;
    border-radius: 0px 10px 10px 0px;
    height: 40em;
    display: flex;
    align-items: center;
}

.centerZodiac {
    position: relative;
    height: 32em;
    width: 30em;
}

.rightZodiacDetails {
    width: 50%;
    padding-right: 10em;
    position: relative;
}

.zodiacSignDetail {
    position: absolute;
    opacity: 0;
    width: 40em;
}

.zodiacDetail_active {
    opacity: 1;
}

.zodiacDetailsWrapper {
    height: 35em;
}

.zodiacDetail_img {
    height: 32em;
    border-radius: 50%;
    width: 32em;
    position: absolute;
    opacity: 0;
    transition: all 500ms;
}

.zodiacDetail_imgActive {
    opacity: 1;
}

.leftZodiacSign {
    height: 70px;
    width: 75px;
}

.leftZodiacSign img {
    height: 100%;
    width: 100%;
}

.zodiacSign_name {
    margin-left: 20px;
}

.zodiacSignDetailsTop {
    margin-bottom: 35px;
    display: flex;
}

.zodiacName {
    font-weight: 600;
    font-size: 50px;
    line-height: 45px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.zodiacName span {
    font-weight: 300;
    font-size: 14px;
    color: #D3D3D3;
    margin-left: 4px;
}

.zodiacDate {
    font-weight: 400;
    font-size: 16px;
    color: #FF5C00;
}

.zodiacDesc {
    font-size: 16px;
    margin-bottom: 18px;
    color: #FFFFFF;
}

.dateMargin {
    margin-bottom: 40px;
}

.horoscopeDate {
    font-weight: 400;
    font-size: 14px;
    color: #D3D3D3;
}


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< RECENT POST >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.recentPost_section {
    background: url('/assets/Landing-Page_Assets/Recent-Post/RecentPosts_background.png');
    background-size: 100% 100%;
    object-fit: cover;
    padding: 4em 10em 6em;
}

.sectionTitle {
    font-weight: 500;
    font-size: 42px;
    letter-spacing: 0.12em;
    color: #FFFFFF;
}

.sectionHeading {
    margin-bottom: 60px;
}

.recentPost_img {
    width: 100%;
    border-radius: 18px 18px 0px 0px;
}

.sectionTitleDesc {
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
}

.recentPosts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
}

.post {
    background-color: #ffffff;
    border-radius: 18px;
}

.PostDesc {
    padding: 10px 20px;
}

.postDate {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-transform: capitalize;
    color: #5C5C5C;
    margin-bottom: 10px;
}

.postTitle {
    font-weight: 400;
    margin-bottom: 12px;
    font-size: 16px;
    color: #111027;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< OUR SERVICES >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.servicesSection {
    background-color: #111027;
    padding: 5em 10em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftService {
    width: 45%;
}

.show_mob {
    display: none;
}

.rightService {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    width: 42%;
}

.service_img {
    width: 100%;
}

.knowMorebtn {
    position: relative;
}

.serviceDescBtm_mar {
    margin-bottom: 80px;
}

.moreServices {
    font-size: 16px;
    color: #c0c0c0;
}

.moreServices :hover {
    text-decoration: underline;
}

.fixWidth {
    width: 8em;
}

.arrow {
    position: absolute;
    left: -32px;
    top: 20px;
    opacity: 0;
    transition: all 500ms ease-in;
}

.arrowActive {
    top: 2px;
    opacity: 1;
}

.margin_bottom {
    margin-bottom: 20px;
}


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< OUR PRODUCTS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.productSection {
    padding: 4em 0em;
    height: 100%;
    background: linear-gradient(180deg, #111027 50%, #132540 50%);
}

.productSectionText {
    padding: 0em 10em 2em;
    text-align: center;
}

.productTitleBtm_margin {
    margin-bottom: 15px;
}

.initialProductSection {
    padding: 2em 13em;
}

.product {
    background: #ffffff;
    border-radius: 18px;
}

.productBg {
    border-radius: 18px 18px 0px 0px;
}

.productDetail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 12px;
}

.productBg {
    background-color: #EDF3FA;
    padding: 20px 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 11em;
}

.initialProducts {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    height: 17em;
}

.product_img {
    width: 65%;
}

.product_name {
    font-weight: 500;
    font-size: 14px;
    line-height: 145%;
    color: #111027;
}

.product_nameHindi {
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    color: #111027;
}

.productPrice {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FF5C00;
}

.gst {
    font-weight: 400;
    text-align: end;
    font-size: 10px;
    color: #6B6B79;
}

.moreProductsBtn {
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    background: #3477F5;
    width: 10.5em;
    text-align: center;
    border-radius: 6px;
    padding: 10px 20px;
    margin: 30px auto 0px;
    ;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< FORM SECTION >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.contactForm_section {
    background-color: #111027;
    padding: 3em 10em;
}

.ContactFormText {
    text-align: center;
    margin-bottom: 2.5em;
}

.formContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.RightForm {
    width: 40%;
}

.formInput {
    margin-bottom: 25px;
}

.name,
.DateOfBirth,
.PhoneNo,
.Message {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 5px;
}

textarea:focus,
input:focus {
    outline: none;
}

.inputField {
    position: relative;
}

textarea {
    resize: none;
}

.titleDesc {
    width: 60em;
    margin: auto;
}

.inputField img {
    position: absolute;
    width: 25px;
    top: 6px;
    left: 6px;
}

.inputField input {
    height: 38px;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    border-radius: 5px;
    padding-left: 38px;
}

#form_UserMessage {
    border-radius: 5px;
    padding: 8px 12px;
    height: 11em;
    width: 100%;
}

.smallTitle {
    font-size: 35px;
    margin-bottom: 10px;
}

.sectionTitle span {
    color: #FF5C00;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input,
textarea {
    color: #1E283C;
    background-color: #f7faff;
}

.formSubmitBtn {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    background: #FF5E00;
    padding: 10px;
    width: 11em;
    border-radius: 6px;
    transition: 500ms;
}

.formSubmitBtn:hover {
    filter: drop-shadow(0px 2px 2px #FF5C00) drop-shadow(0px 2px 2px #FFFFFF);
}

.margin_submitBtn {
    margin-bottom: 15px;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< LOCATE US SECTION >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.location_section {
    background-color: #132540;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5em 10em 4em;
}

.locateUs_Title {
    font-weight: 500;
    font-size: 28px;
    line-height: 45px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.locate_title hr {
    background-color: #FF5C00;
    height: 5px;
    border-radius: 5px;
    width: 11em;
}

.location_text {
    margin-left: 15px;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    display: flex;
}

.location,
.time,
.rating {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.location_img {
    width: 2.4em;
}

.locate_title {
    margin-bottom: 2.3em;
}

.star {
    width: 2.2em;
}

.o {
    color: #FF5C00;
    margin-right: 6px;
}

.leftLocation {
    width: 40%;
}

.rightlocationMap {
    width: 45%;
}

.google {
    font-weight: 400;
    font-size: 12px;
    color: #DBD7D7;
    margin-left: 10px;
    height: 27px;
    margin-top: auto;
}

.location_text a {
    height: 27px;
    margin-top: auto;
}

.location a {
    color: #ffffff;
}

.g1 {
    color: #4285F4;
}

.g2 {
    color: #DB4437;
}

.g3 {
    color: #F4B400;
}

.g4 {
    color: #4285F4;
}

.g5 {
    color: #0F9D58;
}

.g6 {
    color: #DB4437;
}

.rightlocationMap iframe {
    border: 0;
    width: 100%;
    height: 15em;
}

footer {
    background: linear-gradient(180deg, #132540 0%, #111027 100%);
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< FOOTER SECTION >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* footer {
    background: linear-gradient(180deg, #132540 0%, #111027 100%);
    padding: 2.5em 0px 15px;
}

.footerBrand {
    font-weight: 600;
    font-size: 25px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FF5C00;
    margin-bottom: 18px;
}

.footerNav_links {
    font-size: 15px;
    line-height: 27px;
    color: #FFFFFF;
}

.show_mobile {
    display: none !important;
}

.navLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 29em;
    margin: auto;
}

.social_links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 9em;
    margin: 22px auto;
}

.social {
    width: 32px;
}

.copyright {
    font-weight: 400;
    font-size: 11px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
} */


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< MEDIA QUERIES >>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/*#################### MEDIA (567px - Screen) #################*/
@media screen and (max-width:567px) {

    /*<<<<<<<<<<<<<< HERO SECTION WRAPPER >>>>>>>>>>>>>>>*/
    .heroSectionWrapper {
        padding: 20px 16px;
        background-size: 95em 100%;
    }

    /* .astrodharalogo {
        width: 9em;
    }

    .leftlinks {
        width: 9em;
    }

    .rightlinks {
        display: none;
    }

    .hamburger {
        display: block;
    } */

    .heroSection {
        flex-direction: column-reverse;
        padding: 1em 0em 3em;
    }

    .leftText_Content {
        width: 100%;
        padding-top: 1em;
    }

    .pageTaglineHindi {
        font-size: 27px;
        line-height: 45px;
        margin-bottom: 12px;
    }

    .pageTaglineEnglish {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 30px;
    }

    .rightImage_Content {
        width: 100%;
    }

    .rightImage_Content img {
        height: 19em;
    }

    .headerBtns {
        width: 100%;
        margin: auto;
    }

    .connect,
    .Explore {
        font-size: 14px;
    }

    .connectbtn {
        width: 10em;
    }

    .Explorebtn {
        width: 9em;
    }

    .connectbtn,
    .Explorebtn {
        height: 2.5em;
    }

    .overflowdesc {
        overflow: hidden;
        width: 21.5em;
        border-radius: 5px;
    }

    /*<<<<<<<<<<<<<< IMAGE SLIDER WRAPPER >>>>>>>>>>>>>>>*/
    .Image_DescWrapper {
        height: 36em;
    }

    .imageDesc {
        width: 107em;
    }

    .desc {
        padding: 10px;
    }

    .Desctitle {
        font-size: 18px;
        line-height: 30px;
    }

    .textDesc {
        font-size: 14px;
        line-height: 20px;
    }

    .indicatorBtns {
        margin-top: 30px;
        width: 40%;
    }

    .desc_indicatorWrapper {
        padding: 0em 16px;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        top: 24em;
    }

    .SlideImage {
        width: 100%;
        height: 36em;
        object-fit: cover;
    }

    .image_Slider {
        display: none;
    }

    /*<<<<<<<<<<<<<< ZODIAC SIGN >>>>>>>>>>>>>>>*/
    .zodiacSection_Wrapper {
        padding: 1em 16px 2em;
    }

    .zodiacSection_title {
        font-size: 2.2em;
        font-weight: 600;
    }

    .zodiacSection_Desc {
        width: 100%;
        line-height: 22px;
        font-size: 14px;
    }

    .zodiacSection_text {
        margin-bottom: 28px;
    }

    .zodiacSection_Desc span {
        display: none;
    }

    .zodiacSign {
        height: 65px;
        width: 65px;
        border: 5px solid #111027;
    }

    .zodiac {
        padding: 4px;
    }

    .zodiacSign_section {
        grid-column-gap: 21px;
        grid-row-gap: 20px;
        padding: 1em 16px;
        overflow: auto;
    }

    .zodiacSign_section::-webkit-scrollbar {
        width: 20px;
        height: 8px;
    }


    /* Track */
    .zodiacSign_section::-webkit-scrollbar-track {
        /* box-shadow: 0 0 5px #1b365f; */
        border-radius: 10px;
    }

    /* Handle */
    .zodiacSign_section::-webkit-scrollbar-thumb {
        background: #132540;
        border-radius: 8px;
    }

    /* Handle on hover */
    .zodiacSign_section::-webkit-scrollbar-thumb:hover {
        background: #1b365f;
    }


    .zodiacSign_details-Section {
        flex-direction: column;
        padding: 0px;
    }

    .leftZodiac {
        width: 100%;
        padding: 20px 16px;
        border-radius: 0px;
        justify-content: center;
        height: 15em;
    }

    .centerZodiac {
        height: 14em;
        width: 14em;
    }

    .zodiacDetail_img {
        height: auto;
        width: 100%;
    }

    .rightZodiacDetails {
        width: 100%;
        padding-right: 0px;
        padding: 10px 16px;
    }

    .zodiacSignDetail {
        width: 100%;
    }

    .zodiacDetailsWrapper {
        width: 100%;
        position: relative;
        height: 38em;
    }

    .zodiacSignDetailsTop {
        margin: 20px 0px;
        justify-content: center;
    }

    .zodiacName span {
        font-size: 12px;
        letter-spacing: 0px;
    }

    .zodiacName {
        font-size: 28px;
        line-height: 30px;
    }

    .zodiacDate {
        font-size: 14px;
    }

    .leftZodiacSign {
        height: 50px;
        width: 55px;
    }

    .zodiacDesc {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .horoscopeDate {
        font-size: 12px;
        margin-top: 25px;
    }


    /*<<<<<<<<<<<<<< RECENT POST SECTION >>>>>>>>>>>>>>>*/
    .recentPost_section {
        padding: 40px 16px 60px;
        background-size: 100%;
    }

    .sectionTitle {
        font-size: 2.2em;
        font-weight: 600;
        text-align: center;
        margin-bottom: 22px;
        letter-spacing: 2px;
        line-height: 40px;
    }

    .recentPosts {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 22px;
    }

    .post {
        border-radius: 8px;
        height: 16em;
    }

    .recentPost_img {
        object-fit: cover;
        height: 10.5em;
        border-radius: 8px 8px 0px 0px;
    }

    .PostDesc {
        padding: 3px 10px;
    }

    .postDate {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .postTitle {
        margin-bottom: 0px;
        font-size: 15px;
    }


    /*<<<<<<<<<<<<<< SERVICES SECTION >>>>>>>>>>>>>>>*/
    .servicesSection {
        padding: 40px 16px;
        flex-direction: column;
    }

    .leftService {
        width: 100%;
    }

    .sectionTitleDesc {
        text-align: center;
        font-size: 14px;
    }

    .sectionHeading {
        margin-bottom: 45px;
    }

    .serviceDescBtm_mar {
        margin-bottom: 3em;
    }

    .fixWidth {
        display: none;
    }

    .show_mob {
        display: block;
        margin-top: 28px;
    }

    .rightService {
        width: 100%;
    }


    /*<<<<<<<<<<<<<< PRODUCT SECTION >>>>>>>>>>>>>>>*/
    .productSection {
        padding: 2em 0em 3em;
    }

    .productSectionText {
        padding: 20px 16px;
    }

    .titleDesc {
        width: auto;
    }

    .initialProducts {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        height: auto;
        grid-row-gap: 15px;
    }

    .product {
        border-radius: 8px;
    }

    .productBg {
        padding: 10px;
        height: 7em;
    }

    .productDetail {
        flex-direction: column;
        padding: 15px 10px;
    }

    .initialProductSection {
        padding: 20px 16px;
    }

    .moreProductsBtn {
        width: 10.5em;
        padding: 10px 10px;
        margin: 0px auto 0px;
    }

    .productPrice {
        font-size: 14px;
    }

    .productPrice {
        text-align: end;
    }

    .productDetail {
        align-items: normal;
        padding: 10px;
    }

    .gst {
        font-size: 8px;
    }



    /*<<<<<<<<<<<<<< FORM SECTION >>>>>>>>>>>>>>>*/
    .contactForm_section {
        background-color: #111027;
        padding: 50px 16px;
    }

    .RightForm {
        width: 100%;
    }

    .inputField img {
        top: 8px;
    }

    .inputField input {
        font-size: 14px;
        height: 42px;
    }

    /*<<<<<<<<<<<<<< LOCATION SECTION >>>>>>>>>>>>>>>*/
    .location_section {
        padding: 40px 16px;
        flex-direction: column;
    }

    .leftLocation {
        width: 100%;
        margin-bottom: 35px;
    }

    .rightlocationMap {
        width: 100%;
    }

    .location_img {
        width: 2.3em;
    }

    .location_text {
        margin-left: 8px;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
    }

    .locate_title hr {
        height: 5px;
        border-radius: 5px;
        width: 12em;
    }

    .locate_title {
        margin-bottom: 1.8em;
    }

    .locateUs_Title {
        font-size: 2.2em;
    }

    iframe {
        border: 0;
        height: 11em;
    }

    /*<<<<<<<<<<<<<< FOOTER SECTION >>>>>>>>>>>>>>>*/
    /* footer {
        padding: 20px 16px 10px;
    }

    .hide_mob {
        display: none;
    }

    .navLinks {
        width: 17em;
    }

    .show_mobile {
        width: 12em;
        margin-top: 9px;
    }

    .social_links {
        margin: 35px auto 25px;
    } */

}